.Card {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    position: relative;
    color: #333;
    border-radius: 20px;
  
    transition: 0.3s ease;
}

.Card-Image {
    padding-top: 20px;
    width: 100%;
    border-radius: 20px;
    z-index: 0;
}

.Card-Body {
    display: flex;
    flex: 1 1 auto;
    background-color: #fafafa;
    border-radius: 19px;
    padding: 0 20px 20px 20px;

    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
}
  

.Card:hover {
    background-color: #f3f3f3;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.Card:hover .Card-Body { 
    background-color: #f3f3f3;    
}

.Card:hover .Card-Close, .Card:hover .Card-Open {
    opacity: 1;
}

.Card-Icon {
    display: inline-block;

    line-height: 50px;
}

.Card-Icon img {
    vertical-align: middle;
}

.Card-Info {
    display: flex;

    font-size: 18px;
    margin-top: 15px;
}

.Card-Date {
    margin: 0 0 0 auto;
}

.Card-Name {
    display: inline-block;

    margin: auto 0 auto 15px;

    font-size: 24px;
    font-weight: bold;
}

.Card-Title {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.Card-Head {
    flex: 0 0 auto;
    padding: 20px;
}

.Card-Text {
    flex: 1 1 auto;
    font-size: 20px;
    vertical-align: middle;

    margin-right: 20px;
}

.Card-optional {
    flex: 0 0 auto;
}
