.Card_size_m {
    grid-column: span 3;
}

@media all and (max-width: 1050px) {
    .Card_size_m {
      grid-column: span 6;
    }
}
  
@media all and (max-width: 750px) {
    .Card_size_m {
        grid-column: span 6;
    }
}
  